
p{
    color: aliceblue;
}h2{
    color: aliceblue;
}h1{
    color: aliceblue;
}body{
    padding: 20px;
    width: 100%;
    height: auto;
    display: justify;
    font-family: Arial, tahoma, sans-serif;
    background-color: teal;
    
}.voltar{
    
    width: 5%;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}.volt{
    border-radius: 100px;
    border: none;
    padding: 5px;
    width: 130px;
    cursor: pointer;
    color: aliceblue;
    transition: 1s; /* fazer nos outros botoes */
}