body {

    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 100%;


}

.divpromo {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    align-items: center;



}

.promocoes {
    background-color: rgb(0, 207, 138);
    border-radius: 20px;
    align-items: center;
    display: block;

}

li {
    padding-inline-start: 20px;

}

.card {
    align-items: center;

    /*background-color:red;*/

    background-color: rgb(226, 65, 65);

    border-radius: 30px;

    border-color: rgb(0, 207, 138);
    border-radius: 20px;
    padding: 10px;
    display: flex;

}

.retapromo {
    width: 100%;
    padding: 5px;
    text-decoration: none;
    margin: auto;
    text-align: center;
    padding: 10px;
    display: inline-flex;

}

.cardp {
    width: 100%;
    border-radius: 20px;
    padding-left: 10px;

}

.cardapio {
    border-radius: 10px;
    padding: 10px;
}

.olhar {
    align-items: flex-start;
}

.gmail {
    color: aliceblue;
    position: relative;

    right: -400px;
    padding: 10px;
    /*padding-left: 400px;*/
    cursor: pointer;

}

body .averde {
    text-decoration: none;
    color: black;
    transition: 1s;

}
.btn {
    transition: 1s;
    
}
p {
    color: aliceblue;
}

.navbar {
    background-color: teal;
}

.row {
    padding: 5px;
}

.logout {
    background-color: transparent;
    border-radius: 100px;
    border: none;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    color: aliceblue;
    transition: 1s;

}.obut{
    
    animation: rgb 1s infinite ease-in-out alternate;
    background-color:  rgb(255, 0, 0);
    border-radius: 100%;
    align-items: center;
    padding: 200px;
    margin: 0%;
    color: aliceblue;
    
    border-bottom: 10px;
    transition: 1s;
}.center{
    padding-left: 36%;
    padding-top: 15%;
    padding-right: 30%;
}