


#divpromo{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
#promocoes{
    background-color: rgb(0, 207, 138);
    padding: 1pc;
    border-radius: 1pc;
}li{
    padding-inline-start: 4px;
}#cardpromo{
    background-color: crimson;
}
