*{
    margin: 0%;
    padding: 0%;
}
#div2login{
    padding: 250px;
    border-radius: 2pc;
    
}
#form{
    padding: 10px;
    
}#Nome{
    border-radius: 10px;
    border: none;
}#Email{
    border-radius: 10px;
    border: none;
}#emailL{
    border-radius: 10px;
    border: none;
    padding: 10px;
}#senha{
    border-radius: 10px;
    border: none;
    padding: 10px;
}#Senha{
    border-radius: 10px;
    border: none;
}#blogin{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    
}#entrarL{
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none ;
    border-radius: 10px;
    padding: 10px;
}p{
    color: aliceblue;
}h2{
    color: aliceblue;
}h1{
    color: aliceblue;
}body{
    background-image: linear-gradient(45deg, rgb(58, 86, 77),rgb(65, 48, 60),rgb(39, 49, 59), rgb(79, 79, 56)  );
    width: 100%;
}#voltar{
    text-decoration: none;
    color: aliceblue;
    text-align: center;
}#volt{
    border-bottom-right-radius: 20px;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    width: 130px;
    cursor: pointer;

}#volt2{
    border-bottom-right-radius: 21px;
    background-color: rgb(0, 0, 0);
    border: none;

}