body{
    font-family: Arial, tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 100%;


}.divpromo{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: block;
    align-items: center;
    

}.promocoes{
    background-color: #62CB04;
    border-radius: 1pc;
    
    
}li{
    padding-inline-start: 20px;

}.card{

    /*background-color:red;*/
    background-color: #707070;

    padding-left: 20px;
    border-radius: 30px;

    border-color:rgb(0, 207, 138) ;
    border-radius: 1pc;
    padding: 5px;
    display: flex;

}.retapromo{
    display: inline-table;
    padding-left: 10px;
    text-decoration: none;
    

}.cardp{
    width: 100%;
    border-radius: 20px;
    padding-left: 10px;

}.cardapio{
    border-radius: 2pc;
}.olhar{
    align-items: flex-start;
}.gmail{
    color: aliceblue;
    align-items: flex-end;
    padding: 10px;
    cursor: pointer;
    
}body .averde{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}.btn{
    transition: 1s;
}p{
    color: aliceblue;
}
