body {
    background-color: aliceblue;
    width: 100%;

}

.divpeca {
    background-color: transparent;
    width: 100%;
    height: 670px;
    align-items: center;
    padding: 7px;
    border: none;
}li {
    padding-inline-start: 20px;

}.pnn {
    background-color: rgb(0, 207, 138);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}.gmail {
    color: white;
    align-items: flex-end;
    padding: 10px;

}.nav-link{
    background-color: transparent;
}

p {
    color: black;
}.navbar{
    background-color: teal;
}