#div2login{
    padding: 250px;
    border-radius: 2pc;
    
}
#form{
    padding: 10px;
    
}#Nome{
    border-radius: 10px;
    border: none;
}#Email{
    border-radius: 10px;
    border: none;
}
#Senha{
    border-radius: 10px;
    border: none;
}#blogin{
    background-color: rgb(0, 0, 0);
    color: white;
    
}p{
    color: aliceblue;
}h2{
    color: aliceblue;
}body{
    background-image: linear-gradient(45deg, rgb(148, 22, 22),rgb(227, 146, 146),rgb(112, 209, 125) , rgb(4, 146, 23) );
    
}#voltar{
    text-decoration: none;
    padding: 40px;
    color: aliceblue;
}#volt{
    border-bottom-right-radius: 20px;
    background-color: rgb(0, 0, 0);
    
    border: none;
}