body{
    background-image: linear-gradient(45deg, rgb(58, 86, 77),rgb(65, 48, 60),rgb(39, 49, 59), rgb(79, 79, 56) );
    width: 100%;
   

}#divpeca{
    background-image: linear-gradient(45deg, rgb(165, 255, 226),rgb(255, 0, 179) );
    width: 100%;
    align-items: center;
    padding: 7px;
}#pnn{
    background-color: rgb(0, 207, 138);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
} 