

#divpromo{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    

}
#promocoes{
    background-color: rgb(0, 207, 138);
    padding: 1pc;
    border-radius: 1pc;
    
}li{
    padding-inline-start: 20px;

}#cardpromo{

    /*background-color:red;*/
    background-color: rgb(198, 62, 62);

    padding-left: 20px;
    border-radius: 30px;

    border-color:rgb(0, 207, 138) ;
    border-radius: 1pc;
    padding: 5px;

}#retapromo{
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;

}

#cardpromo{
    width: 100%;
   border-radius: 20px;
   padding-left: 10px;

}

#cardapio{
    border-radius: 2pc;
}#olhar{
    align-items: flex-start;
}#gmail{
    color: white;
    
}
