*{
    margin: 0%;
    padding: 0%;
}
#div2login{
    padding: 250px;
    border-radius: 2pc;
    
}
#form{
    padding: 10px;
    
}#Nome{
    border-radius: 10px;
    border: 10%;
    border-color: rgb(248, 248, 248);
    padding: 10px;
    background-color: transparent;

}#Email{
    border-radius: 10px;
    border: 10%;
    background-color: transparent;
    border-color: rgb(248, 248, 248);
    padding: 10px;

}#emailL{
    border-radius: 10px;
    border: 10%;
    border-color: rgb(248, 248, 248);
    padding: 10px;
    background-color: transparent;
    

}#senha{
    border-radius: 10px;
    border: 10%;
    border-color: rgb(248, 248, 248);
    padding: 10px;
    background-color: transparent;
    cursor: text;

}#Senha{
    border-radius: 10px;
    border: 10%;
    border-color: rgb(248, 248, 248);
    padding: 10px;
    background-color: transparent;

}#blogin{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    
}#entrarL{
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none ;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}p{
    color: aliceblue;
}h2{
    color: aliceblue;
}h1{
    color: aliceblue;
}body{
    background-image: linear-gradient(45deg, rgb(58, 86, 77),rgb(65, 48, 60), rgb(79, 79, 56)  );
    width: 100%;
    height: 20%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    
    
}#voltar{
    text-decoration: none;
    color: aliceblue;
    text-align: center;
}#volt{
    border-bottom-right-radius: 20px;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    width: 130px;
    cursor: pointer;

}#volt2{
    border-bottom-right-radius: 20px;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 8px;
    width: 130px;
    cursor: pointer;

}h4{
    color: aliceblue;
}h6{
    color: aliceblue;
}input{
    color: rgb(242, 242, 242);
    font-family: Arial, Helvetica, sans-serif;
}#olho{
    display: flex;

}#cadiado{
    width: 45px;
    height: 45px;
   color: rgb(255, 255, 255);
   cursor: pointer;
}#cadas{
    text-decoration: none;
    color: aliceblue;
}