#div2login{
    padding: 250px;
    border-radius: 2pc;
    
}
#form{
    padding: 10px;
    
}#Nome{
    border-radius: 10px;
    border: none;
}#Email{
    border-radius: 10px;
    border: none;
}
#Senha{
    border-radius: 10px;
    border: none;
}#blogin{
    background-color: rgb(198, 62, 62);
    
}p{
    color: aliceblue;
}h2{
    color: aliceblue;
}body{
    background-image: linear-gradient(45deg, rgb(195, 28, 28),rgb(228, 154, 154),rgb(147, 230, 158) , rgb(59, 246, 84) );
    
}