


#divpromo{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
#promocoes{
    background-color: rgb(0, 207, 138);
    padding: 1pc;
    border-radius: 1pc;
}li{
    padding-inline-start: 20px;

}#cardpromo{
    /*cor da fonte  */
    background-color: rgb(255, 23, 62);

    padding-left: 20px;
    border-radius: 30px;

    border-color:rgb(0, 207, 138) ;
    border-radius: 1pc;
    padding: 5px;
    

}#retapromo{
    display: inline-flex;
    padding-left: 10px;
   
}

#cardpromo{
   border-radius: 20px;
   padding-left: 10px;
}

